@font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/Merriweather-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/Merriweather-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
}

:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --color-white: #fff;
    --title-size: 60px;
    --text-size: 20px;
    --title-size-mob: 32px;
    
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Inter';
    background: var(--color-black);
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


/*Header style*/

.header{
    height: 90px;
    
}

.nav{
    display: flex;
    padding: 0 20px;
    height: 90px;
    background: url('assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    
}

.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    width: 500px;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}


.nav-link{
    line-height: 50px;
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}

.logo{
    width: 50px;
    height: 50px;
    padding-top: 20px; 
    transition: 0.3s;
    fill: var(--color-white);
}



.switch-lng{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 50px;
    margin-top: 20px;
    padding: 0px;
    border: 0;
    cursor: pointer;
    font-family: 'Inter';
    font-size: var(--text-size);
    background: none;
    color: var(--color-white);
}


.lng-en{
    color: var(--color-gold);
}

.logo:hover, 
.nav-link:hover,
.rss-link:hover,
.link-github:hover,
.instagram-logo:hover,
.facebook-logo:hover,
.twitter-logo:hover,
.pinterest-logo:hover,
.play-hover:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}
.hamburger{
    display: none;
}


/* Main style */

/* Hero style*/

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    width: 470px;
    top: 160px;
    left: 80px;
    color: var(--color-white);
    font-size: var(--text-size);
    line-height: 50px;
}

.title-hero{
    font-family: 'Merriweather';
    font-size: var(--title-size);
    line-height: 120px;
    margin: 0;
}



.hero-text{
    margin: 0;
    margin-top: -15px;
    line-height: 40px;

}


.section-hero{
    display: flex;
    height: 820px;
    background-image: url('assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}


.button{
    display: block;
    width: 220px;
    height: 55px;
    border: 0;
    cursor: pointer;
    font-family: 'Inter';
    font-size: var(--text-size);
    line-height: 40px;
    background-color: var(--color-gold);
    transition: 0.5s;
    
}
.button:hover, .button:focus{
	box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
	transform: translatey(-0.65em);
}

.button:hover{
    color: var(--color-white);
    border: 1px solid var(--color-gold);
}


/* Skills style*/


.section-skills{
    padding: 0 20px;
}


.title{
    max-width: 700px;
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    overflow-x: hidden;
    margin: 0 auto;
    
}


.title-section{
    vertical-align: middle;
    line-height: 80px;
    font-size: 40px;
    font-family: 'Merriweather';
    color: var(--color-gold);
    
}

.title-section:before,
.title-section:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color:var(--color-gold);
    position: relative;
}
.title-section:before {
    margin-left: -100%;
    left: -20px;
}

.title-section:after {
    margin-right: -100%;
    right: -20px;
}

.skills-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:  0 20px;
    color: var(--color-white);
}

.skills-logo-photo{
    fill: var(--color-gold);
    width: 62px;
    height: 50px;
}

.skills-logo-video{
    fill: var(--color-gold);
    width: 60px;
    height: 50px;
}

.skills-logo-retouch{
    fill: var(--color-gold);
    width: 66px;
    height: 50px;
}

.skills-logo-audio{
    fill: var(--color-gold);
    width: 32px;
    height: 50px;
}

.skills-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
}

.skills-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.title-skills{
    height: 40px;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: var(--text-size);
    line-height: 40px;
    text-align: center;
}

.skills-description{
    height: 72px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 36px;
    margin: 0;
    text-align: center;
}


/* Portfolio style*/


.portfolio-button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.portfolio-btn-active{
    box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
	transform: translatey(-0.65em);

}


.section-portfolio{
    padding: 0 20px;
}

.portfolio-img{
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}

.portfolio-item-1{
    width: 450px;
    height: 560px;
}

.portfolio-item-2{
    width: 450px;
    height: 560px;
}

.portfolio-item-3{
    width: 450px;
    height: 560px;
}

.portfolio-item-4{
    width: 450px;
    height: 560px;
}

.portfolio-item-5{
    width: 450px;
    height: 560px;
}

.portfolio-item-6{
    width: 450px;
    height: 560px;
}

/*Video style*/

.video-player{
    background-image: url('assets/img/video-player.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 705px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-hover{
    fill: var(--color-white);
    width: 130px;
    height: 130px;
    transition: 0.5s;
}


/* Price style*/


.section-price{
    padding: 0 20px 100px;
}  

span{
    color: var(--color-white);
    display: block;
}

h3{
    color:var(--color-white);
}

.price-list{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}



.price-item{
    width: 444px;
    border: 3px solid var(--color-gold);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.price-item-title{
    font-family: 'Merriweather';
    font-size: 28px;
    line-height: 56px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.price-item-num{
    font-family: 'Merriweather';
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 20px;
    color: var(--color-gold);
}

.price-item-text{
    
    font-family: 'Inter';
    font-size: 18px;
    line-height: 36px;
    margin: 0;
}

.button-price{
    margin-bottom: 40px;
    margin-top: 40px;
    
}


/*Contacts style*/


.section-contacts{
    display: flex;
    justify-content: end;
    height: 700px;
    background-image: url('assets/img/contacts.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.contact-me{
    padding-right: 20px;
    padding-top: 60px;
    width: 450px;
    height: 445px;
    display: flex;
    flex-direction: column;
}

.contacts-input{

    width: 442px;
    height: 44px;
    border: 2px solid var(--color-gold);
    background:rgba(0, 0, 0, 0.5);
    margin-top: 20px;

}

.contacts-textarea{
    
    width: 442px;
    height: 94px;
    border: 2px solid var(--color-gold);
    background:rgba(0, 0, 0, 0.5);
    resize: none;
    margin-top: 20px;
}

.button-contacts{
    margin-top: 30px;
}

.contacts-input::placeholder, .contacts-textarea::placeholder {
    font-family: 'Inter';
    font-size: var(--text-size);
    text-indent: 0.8em;
    color: var(--color-gold);
    padding-top: 10px;
}

.title-contact{
    font-family: 'Merriweather';
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
    margin-top: 0px;
    margin-bottom: 20px;
}



/* Footer style*/


.footer-container{
    
    height: 150px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
}

.footer-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    font-family: 'Inter';
    font-size: var(--text-size);
    line-height: 50px;
    color: var(--color-white);
}

.authorship{
    display: block;
}

.link-github{
    font-family: 'Inter';
    font-size: var(--text-size);
    line-height: 50px;
    color: var(--color-white);
    text-decoration: none;
    margin: 15px;
    transition: 0.3s;
}

.rss-link{
    font-size: var(--text-size);
    line-height: 50px;
    font-family: 'Inter';
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}

.instagram-logo,
.facebook-logo,
.twitter-logo,
.pinterest-logo{
    width: 28px;
    height: 28px;
    fill: var(--color-white);
    transition: 0.5s;
}

.social-list{
    width: 188px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}


@media(max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
        max-width: 768px;
        padding: 0px;
        overflow-x: hidden;
    }
    .nav-link{
        font-size: 35px;
        padding-left: 127px;
        
        
    }
    .nav-list{
        display: flex;
        position:fixed;
        width: 620px;
        height: 100vh;
        z-index: 1;
        justify-content: center;
        align-items: start;
        
        gap: 40px;
        flex-direction: column;
        background: var(--color-black);
        color: var(--color-white);
        right: -620px;
        
    }
    
}
@media (max-width: 768px){
    .nav-list{
        transition: 0.5s;
    }
    .nav-list-open{
        right: 0px;
        transition: 0.5s;
    }
    
}
@media (max-width:768px){
    .nav{
        background-image: url('assets/img/bg-width-768.jpg');
        justify-content: space-between;
        overflow-x: hidden;
    }
}
@media (max-width:768px){
    .logo{
    padding-left: 40px;

    }
}
@media (max-width: 768px){
    .switch-lng{
        margin-left: auto;
        width: 83px;
    }
}
@media (max-width: 768px){
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        user-select: none;
        z-index: 2;
        margin: 20px 44px 0 20px;
      }
      
      .line {
        width: 100%;
        height: 3px;
        background: var(--color-white);
        margin: 3px 0;
        z-index: 15;
        transition: all 0.3s ease-in-out;
      }
      
      .hamburger.open .line1 {
        transform: rotate(-45deg) translate(-10px, 10px);
      }
      
      .hamburger.open .line2 {
        opacity: 0;
      }
      
      .hamburger.open .line3 {
        transform: rotate(45deg) translate(-10px, -10px);
      }
    }
    @media (max-width: 768px){
        .hero{
            top: 78px;
            left: 60px;
            width: 390px;
            height: 270px;
            
        }
    }

    @media (max-width: 768px){
        .title{
            padding-top: 80px;
            padding-bottom: 45px;
            max-width: 364px;
        }
    }
    @media (max-width: 768px){
        .title-hero{
            line-height: 60px;
        }
    }
    @media (max-width: 768px){
        .title-hero{
            font-family: 'Merriweather';
            font-size: 32px;
            font-weight: 400;
        }
    }
    @media (max-width: 768px){
        .hero-text{
            line-height:24px;
            padding-bottom: 25px;
        }
    }
    @media (max-width:768px){
        .section-hero{
            height: 500px;
            background-image: url('assets/img/bg-width-768.jpg');
        }
    }
    @media (max-width: 768px){
        .section-skills{
            height:729px;
        }
    }
    @media (max-width: 768px){
        .title-section{
            font-size: 32px;
        }
        .title-skills{
            margin-top: 30px;
        }
        .skills-description{
            margin-top: 15px;
            line-height: 30px;
        }
    }
    @media (max-width: 768px){
        .skills-list{
            gap: 36px;
            margin: 0 20px;
        }
    }@media (max-width: 768px){
        .skills-item{
            justify-content: flex-start;
            height: 224px;
            width: 300px;
        }
    }
    @media (max-width: 768px){
        .portfolio-button{
            width: 445px;
            height: 115px;
            margin: 0 auto;
            margin-top: 5px;
        }
        .portfolio-img{
            justify-content: center;
        }
    }
    @media (max-width: 768px){
        .video-player{
            background-image: url('assets/img/video-player-width-768.jpg');
            height: 420px;
        }
    }
    @media (max-width: 768px){
        .section-price{
            padding: 0 0 80px;
        }
    }
    @media (max-width: 768px){
        .price-list{
            justify-content: center;
            gap: 43px;
        }
        .price-item{
            margin-top: 7px;
            width: 420px;
            height: 500px;
        }
    }
    @media (max-width: 768px){
        .section-contacts{
            background-image: url('assets/img/contacts-width-768.jpg');
            height: 600px;
            background-position: 0 0;
            background-size: 768px 600px;
            background-repeat: no-repeat;
    
        }
    }
    @media (max-width: 768px){
        .contact-me{
            height: 429px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-right: 0;
        }
    }
    @media (max-width: 768px){
        .title-contact{
            font-size: 32px;
            line-height: 64px;
        }
    }
    @media (max-width: 768px){
        .footer-container{
            height: 190px;
            flex-direction: column;
            justify-content: start;
            /* gap: 5px; */
        }
        .footer-data{
            padding-top: 20px;
            height: 30px;
        }
        .social-list{
            padding-top: 20px;
        }
    }
   
@media (max-width: 425px){
    .hero{
        width: 300px;
        height: 350px;
        left: 40px;
    }
    .nav-list-open{
        right: -120px;
    }
    .section-skills{
        height: 1200px;
    }
    .portfolio-button{
        width: 230px;
        height: 230px;
    }
    .video-player{
        width:390px;
        margin: 0 auto;
    }
    .price-item{
        width: 390px;
    }
    .contact-me{
        width: 320px;
    }
    .contacts-input{
        width: 320px;
    }
    .contacts-textarea{
        width: 320px;
    }
}
@media (max-width:320px){
    .hamburger{
        margin: 20px 10px 0 20px;
    }
    .nav-list-open{
        right: -190px;
    }
   .hero{
       width: 300px;
       height: 350px;
       left: 10px;
   }
    .video-player{
        width:300px;
        margin: 0 auto;
    }
    .price-item{
        width: 300px;
    }
    .contact-me{
        width: 300px;
    }
    .contacts-input{
        width: 300px;
    }
    .contacts-textarea{
        width: 300px;
    }
}
   
